<h4>Internal server error - al refrescar la pagina se perdera la informacion</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">La principal razon de este error es el back-end, por favor perdona a los UI.</p>
    <p>Siguientes pasos</p>
    <ol>
        <li>Abrir las herramientas de desarrollo de tu navegador</li>
        <li>Validar la solicitud erronea en la pestaña de Red</li>
        <li>Revisar la URL de la solicitud - ¿esta correcta la direccion de lo que solicitas?</li>
        <li>Reproducir el error en Postman - si se obtiene el mismo error, Angular no es culpable</li>
    </ol>
    <p style="font-weight: bold"> A continuacion, puedes encontrar la pila de llamadas del error</p>
    <code class="mt-5" style="background-color: rgb(54, 49, 49);">
        {{error.details}}
    </code>
</ng-container>